#bear:hover #left-ear, #bear:hover #right-ear {
  animation: ear-up .5s .5s ease-in-out;

}

@keyframes ear-up {

  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(0,-10px);
  }

}
#bear:hover #left-ear, .bear:hover #right-ear {

}
