
#bear #left-ear, #bear #right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear, #bear:hover #right-ear {
  transform: translate(0, -10px);
}

@keyframes shifty {

  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(9px, 0);
  }

  80% {
    transform: translate(-9px, 0);
  }

  100% {
    transform: translate(0, 0);
  }

}

#bear #left-eye, #bear #right-eye {
  animation: shifty 3s linear infinite;
}
