.bear:hover #left-ear, .bear:hover #right-ear {
  transform: translate(0, -8px);
  transition: all .5s .5s linear;
}

.bear:hover #left-eye, .bear:hover #right-eye {
  transform: translate(15px, 0);
  transition: all 2s linear;
}
